:root {
  --headline-font: 'Rajdhani';
  --primary-font: 'Roboto', sans-serif;
  --body-weight: 400;
  --headline-weight: 700;
}

body {
  font-family: var(--headline-font);
}

}

  text-transform: capitalize;
  font-size: 25px;
  font-family: var(--headline-font);
}

  font-family: var(--headline-font);
}

}
