:root {
  --headline-font: 'Rajdhani';
  --primary-font: 'Roboto', sans-serif;
  --body-weight: 400;
  --headline-weight: 700;
}

body {
  font-family: var(--headline-font);
}

h1 {
  text-transform: capitalize;
  font-family: var(--headline-font);
  font-size: 50px;
  line-height: 40px;
  padding-top: 10px;
}

#nav-title {
  font-size: 30px;
  color: #fff;
}

.list-group-bg {
  padding: 0;
  background-color: #dc3545;
  margin-bottom: 10px;
  border-radius: 3px;
}

.list-group {
  font-family: var(--headline-font);
  margin: 80px 0 80px 0;
  flex-direction: row;
}

.btn {
  text-transform: capitalize;
  font-size: 25px;
  font-family: var(--headline-font);
  color: #fff;
}

.modal-body {
  font-size: 30px;
  line-height: 20px;
  text-align: center;
}

.modal-img {
  width: 200px;
}

.footer-content__icon {
  padding: 5px;
}

.footer-content {
  text-align: center;
}
